parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:findChildNodes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Command/NodeIndexCommandController.php

		-
			message: '#^Strict comparison using \=\=\= between Neos\\Flow\\ResourceManagement\\PersistentResource and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: Classes/Controller/ThumbnailController.php

		-
			message: '#^Property Medienreaktor\\Meilisearch\\Domain\\Service\\DimensionsService\:\:\$lastTargetDimensions \(array\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Classes/Domain/Service/DimensionsService.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Service\\Context\:\:getCurrentSiteNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Domain/Service/NodeLinkService.php

		-
			message: '#^Call to an undefined method Neos\\Eel\\FlowQuery\\FlowQuery\:\:parents\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Domain/Service/NodeLinkService.php

		-
			message: '#^Variable \$siteNode might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Classes/Domain/Service/NodeLinkService.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: Classes/Domain/Service/RequestService.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:findChildNodes\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Classes/Indexer/NodeIndexer.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:findParentNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Indexer/NodeIndexer.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:getNodeAggregateIdentifier\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Classes/Indexer/NodeIndexer.php

		-
			message: '#^Call to an undefined method Medienreaktor\\Meilisearch\\Domain\\Service\\IndexInterface\:\:search\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: Classes/Search/MeilisearchQueryBuilder.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:findNodePath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Search/MeilisearchQueryBuilder.php

		-
			message: '#^Call to an undefined method Neos\\ContentRepository\\Domain\\Model\\NodeInterface\:\:getNodeAggregateIdentifier\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Classes/Search/MeilisearchQueryBuilder.php

		-
			message: '#^Instanceof between Neos\\ContentRepository\\Domain\\Model\\NodeInterface and Neos\\ContentRepository\\Domain\\Model\\NodeInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: Classes/Search/MeilisearchQueryBuilder.php
